	<div id="Huratips-Loop" >
      <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid {% if paginate.pages > 1 %}ProductList--removeMargin{% endif %} Grid" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}">
          {%- for product in collection.products -%}
            <div class="Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}desk{% endif %}">
              {%- render 'product-item', product: product, show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
            
          	{%comment%}
          		{%-render 'collection-color-link' product: product -%}
              {%endcomment%}
                      
              
          	</div>
          {%- endfor -%}
        </div>
      </div>
	</div>
  
  	<div id="Huratips-Pagination" style="text-align: center; margin: 40px;">
    	{% if paginate.next %}
    	<a href="{{ paginate.next.url }}">
          <button onclick="loadMore()" style="max-width: 250px; border: 1px solid; border-radius: 5px; padding: 3px 20px; margin-top: 20px; display: inline-block;" type="button">Load More</button>
        </a>
    	{% endif %}  
	</div>
  
  
  <script>
  
function clicked() {
  var checkExist = setInterval(function () {
    var x = document.getElementsByClassName("ProductList");

    if (x[0].childElementCount) {
      new Ajaxinate({
        container: "#Huratips-Loop",
        pagination: "#Huratips-Pagination",
        method: "click",
      });
      clearInterval(checkExist);
    }
  }, 1000);
}

function loadMore() {
  var x = document.getElementById("Huratips-Loop");
  x.lastElementChild.classList.add("Load_More_Margin");
}

document.addEventListener("DOMContentLoaded", function () {
  var endlessScroll = new Ajaxinate({
    container: "#Huratips-Loop",
    pagination: "#Huratips-Pagination",
    method: "click",
  });
});
 
</script>
